<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Sign Language Demonstration for Numbers</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
    <br>  
    <div style="white-space:nowrap; overflow-x: scroll">
      <a href="https://imgbb.com/"><img src="https://i.ibb.co/vLsSpYx/g1.jpg"  alt="g1" border="0" style="width:100px;height:100px;"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/3vTTDdW/g2.jpg" alt="g2" border="0" style="width:100px;height:100px;"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/PQFC6SF/g3.jpg" alt="g3" border="0" style="width:100px;height:100px;"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/wR1qb5Z/g4.jpg" alt="g4" border="0" style="width:100px;height:100px;"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/pbgVzHZ/g5.jpg" alt="g5" border="0" style="width:100px;height:100px;"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/xsk4qh6/g6.jpg" alt="g6" border="0" style="width:100px;height:100px;"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/CKZWV53/g7.jpg" alt="g7" border="0" style="width:100px;height:100px;"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/dPn2gy9/g8.jpg" alt="g8" border="0" style="width:100px;height:100px;"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/vJ7Yrm2/g9.jpg" alt="g9" border="0" style="width:100px;height:100px;"></a>
      </div>
  </body>
</html>